#map {
    background-image: url('../img/Map.png');
    background-size: contain;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#shapeLeft {
    background-image: url('../img/ct.png');
}

#shapeRight {
    background-image: url('../img/ct.png');
}

#shapeMid {
    background-image: url('../img/ct.png');
}

.shape {
    background-size: contain;
    width: 40%;
    height: 40%;
    background-position: top left;
    background-repeat: no-repeat;
}

#spotLeft img {
    max-width: 78px;
    height: auto;
}

#spotRight img {
    max-width: 78px;
    height: auto;
}

#spotMid img {
    margin-top: 90px;
    max-width: 78px;
    height: auto;
}

.overlay {
    border-radius: 8px; /* Optional: Rounded corners to match image */
    box-shadow: 0 0 20px 10px rgb(255, 230, 0); /* Adjust the glow effect here */
  }